.container{
    width:100%;
    min-height:100vh;
    background:#7CB9E8;
    padding:5px;
 
 }


.todobox{
    width:100%;
    background-color: #E0FFFF;
    max-width:540px;
    margin:100px auto 20px;  /*here the margin 100px from top,auto means horizontally centers the element by automatically adjusting the left and right margins equally. and 20px from bottom*/
    padding:40px 30px 70px;
    border-radius: 10px;


}
  .todobox h2{
    color:#0C2340;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.todobox h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#E1EBEE;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom:25px;

    
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
    font-weight:14px;
}
button{
    border:none;   /*remove the border of button*/
    outline:none;
    padding:16px 50px;
    background:#00CCFF;  /*background color of button*/
    color: black;    /*color of add text*/
    
    font-size:16px;
    cursor:pointer;
    border-radius: 40px;
}
ul li{
    list-style:none;
    font-size:17px;
    padding:18px 8px 12px 50px;  /*top,right,bottom,left*/
    user-select:none;
    cursor:pointer;
    position: relative;;
}
ul li::before{
    content: '';
    position:absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    background-image:url("unchecked.png");
    background-size:cover;
    background-position:center;
    top:12px;
    left:8px;

}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url("checked.png") ;

}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 25px;
    color:black;
    line-height:40px;
    text-align:center;
}
ul li span:hover{
    background:#76ABDF;
    border-radius: 50px;
}



